body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f7fb92;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background-color: #fffdd0;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 500px;
  height: 500px;
  text-align: center;
}

.login-container h2 {
    font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
}

input[type="email"],
input[type="password"] {
  width: 95%;
  padding: 15px;
  margin: 15px 0;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.remember {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 20px 0;
}

.forgot {
  text-decoration: none;
  color: blue;
}

.forgot:hover {
  text-decoration: underline;
}

.login-btn {
  width: 100%;
  padding: 15px;
  background-color: #eaf764;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 20px;
}

.login-btn:hover {
  background-color: #dff143;
}

.separator {
  margin: 40px 0;
  border-bottom: 1px solid #999;
  position: relative;
}

.separator::after {
  content: "OR";
  position: absolute;
  background: #fffdd0;
  padding: 0 10px;
  left: 50%;
  transform: translateX(-50%);
  top: -12px;
  font-size: 14px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 15px 0;
}

.social-icons i {
  font-size: 20px;
  cursor: pointer;
}

.signup {
  font-size: 14px;
  margin-top: 15px;
}

.signup a {
  text-decoration: none;
  font-weight: bold;
  color: blue;
}
